/* Border styles */
html {
    background: #c5b0e3;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    width: 10px;
    overflow-y: scroll;
    background: #c5b0e3;
}

html::-webkit-scrollbar-track {
    background: #c5b0e3;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}


#table-4 thead,
#table-4 tr {
    /* border-top-width: 1px;
    border-top-style: solid; */
    border-top-color: rgb(211, 202, 221);
}


#table-4 {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}

/* Padding and font style */
#table-4 td,
#table-4 th {
    padding: 5px 10px;
    font-size: 20px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}

/* Alternating background colors */
#table-4 tr:nth-child(even) {
    background: rgb(223, 216, 232);
}

#table-4 tr:nth-child(odd) {
    background: #FFF;
}

table {
    width: 100%;
    margin: 1px auto;
    border-collapse: collapse;
    text-align: center;
}

#table_div {
    padding: 1% 5%;
    background: #FFF;
    border: solid #FFF;
    border-radius: 20px;
    margin: 1% 10%;
}

#search-bar_div {
    margin: 1% 10%;
}

.search-bar {
    padding: 5px;
    width: 100%;
    border: rgb(95, 74, 121) solid 1px;
    border-radius: 20px;
    outline: none;
    background-color: rgb(223, 216, 232);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
}

.search-bar:focus {
    background-color: #ffffff;
}

#container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#button_div {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    margin: 1% 10%;
    padding: 3% 5%;
    border: rgb(95, 74, 121) solid 3px;
    border-radius: 20px;

}

#button_div button {
    margin: 1% 2.5%;
    width: 30%;
    border: rgb(95, 74, 121) solid 0px;
    border-radius: 20px;
    background-color: #dfd8e8;
}

button {
    font-size: 20px;
    padding: 0.5% 5%;
}


.intro_p {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.intro_p_s {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#img_div {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    margin: 1% 10%;
    padding: 1%;
}

#intro_img {
    width: 200px;
}

#live_streaming_img {
    width: 75px;
    position: absolute;
    top: 0;
    left: 0;
}

.copy:hover,
.copy:visited,
.copy:link,
.copy:active {
    text-decoration: none;
    color: rgb(95, 74, 121);
}
